<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <a href="{% url 'home' %}">Home</a>
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username"><br><br>
        <input type="password" name="password" placeholder="Password"><br><br>
        <button type="submit">Login</button>
    </form>

    {% if messages %}
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    {% endif %}
</body>
</html>